.container-fluid{
	text-align: center;
}
.navbar{
	justify-content: center;
}

body{
	background-image: url(images/background_1.png);
	padding-bottom: 10rem;
}

.welcome{
	justify-content: center;
}
.welcome-text{
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
}

.muted-text{
	color: white;
}



#user-code{
	line-height: 3rem;
	min-height: 15rem;
}

textarea{
	font-family: monospace;
	font-size: 1.25rem;
}

.input-box{
	width: 100%;
	height: 100%;
	text-align: center;
}


.camera-btn{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.input-box{
	text-align: center;
}

.run-btn{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.upload{
	align-items: center;
	justify-content: center;
}

.file_button_container,
.file_button_container input {
     height: 47px;
     width: 263px;

 }

 .file_button_container {
     background: transparent url(http://i.stack.imgur.com/BT5AB.png);
     margin-bottom: 2rem;
 }

 .file_button_container input {
     opacity: 0;
 }