.name{
	justify-content: left !important;
}


body{
	background-image: url(images/background_1.png);
	padding-bottom: 500rem;
}

.welcome{
	justify-content: center;
}
.welcome-text{
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
}

.muted-text{
	color: white;
}

.container-fluid{
	text-align: center;
}

#user-code{
	line-height: 3rem;
	min-height: 15rem;
}

textarea{
	font-family: monospace;
	font-size: 1.5rem;
}